<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${chapter.title} + ' chapters'"></title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/css/timelinestyle.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/center.css">
  <link rel="stylesheet" href="/css/chcards.css">
</head>
<body>
<div class="container">
<div class="center">

  <tr th:each="scene : ${assignedSceneList}">
    <div class="card text-white border-light bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-text" th:text="${scene.corkboardtext}"></h5>
        <a th:href="@{'/editScene/' + ${scene.sceneID}}" class="button-78">Edit Scene</a>
      </div>
    </div>
  </tr>
  </tbody>
</div>
</div>


<div class="container">
  <div class="center">
    <a class="button-78" th:href = "@{'/newScene/' + ${chapter.chapterID}}">New Scene</a>
  </div>
  <div class="center">
    <a class="button-78" th:href = "@{/}">Back to Main Page</a>
  </div>
</div>

</body>
</html>