<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${chapter.title} + ' chapters'"></title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/css/timelinestyle.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/center.css">
  <link rel="stylesheet" href="/css/chcards.css">
  <script src="/js/goToTop.js"></script>
</head>
<body>

<div class="container">
  <div class="center">
    <a class="button-78" th:href = "@{'/newScene/' + ${chapter.chapterID}}">New Scene</a>
  </div>
  <div class="center">
    <a class="button-78" th:href = "@{/}">Back to Main Page</a>
  </div>
</div>


<div class="cards">

  <tr th:each="scene : ${assignedSceneList}">
    <div class="card text-white border-light bg-dark" >
      <div class="card-body">
        <h5 class="card-text" th:text="${scene.corkboardtext}"></h5>
        <button th:href="@{'/moveUpInTimeline/' + ${scene.sceneID} + '/' + ${chapter.chapterID}}" class="button-78">^</button>
        <a th:href="@{'/editScene/' + ${scene.sceneID}}" class="button-78">Edit Scene</a>
        <a th:href="@{'/deleteScene/' + ${scene.sceneID} + '/' + ${chapter.chapterID}}" class="button-78">Delete Scene</a>
        <button th:href="@{'/moveDownInTimeline/' + ${scene.sceneID} + '/' + ${chapter.chapterID}}" class="button-78">v</button>
      </div>
    </div>
  </tr>
  </tbody>
</div>

<button th:onclick="topFunction();" class="button-78" id="topBtn" style="position: fixed;bottom: 20px;right: 30px;z-index: 99;" title="Go to top">Scroll to Top</button>

</body>
</html>