<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Character</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/img1style.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/center.css">
    <script src="../js/imgToBlob.js"></script>
</head>
<body>
<div class="center">

    <h1>New Character</h1>
    <hr>

    <form  th:action="@{/saveCharacter}" th:object="${fwcharacter}"  method="POST">

        <h2>Character Name</h2>
        <input class="center" type="text" th:field="*{name}" placeholder="Character Name">
        <br/>
        <br/>

        <h2>Character Age</h2>
        <input class="center" type="text" th:field="*{age}">

        <br/>
        <br/>

        <h2>Physical Description</h2>
        <textarea th:field="*{physicaldescription}" placeholder="Physical Description" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>Quirks</h2>
        <textarea th:field="*{quirks}" placeholder="Quirks" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>Motivation</h2>
        <textarea th:field="*{motivation}" placeholder="Motivation" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>Quotes</h2>
        <textarea th:field="*{quotes}" placeholder="Quotes" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>History</h2>
        <textarea th:field="*{history}" rows="8" cols="50">
        </textarea>


        <br/>
        <br/>


        <h2>Image</h2>
        <label for="imgChar">Select image:</label>
        <input type="file" id="imgChar" name="img" accept="image/*" onchange="encodeImageFileAsURL(this)" >
        <input type="hidden" name="blob" id="blobVal" th:field="*{image}"/>

        <h2>Project</h2>
        <select id="novelList" th:field="*{novel}" placeholder="[Select Novel]">
        </select>

       <br/>

        <button type="submit" class="button-78"> Save Character</button>
    </form>

    <hr>

    <a class="button-78" th:href = "@{/charactersPage}">Characters page</a>
</div>
</body>
</html>