<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title  th:text="${fwcharacter.name}"></title>
  <link rel="stylesheet" type="text/css" href="/css/img1style.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/center.css">
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="resume-wrapper">
  <section class="profile section-padding">
    <div class="container">
      <div class="picture-resume-wrapper">
        <div class="picture-resume">

          <img th:src="${fwcharacter.image != ''} ?   ${fwcharacter.image} : @{../img/placeholder-profile-pic.png}">

        </div>
      </div>
      <div class="name-wrapper">
        <h1 th:text="${fwcharacter.name}"></h1>
      </div>

      <h3 class="experience-title">Motivation</h3>
      <div class="text_bg" th:text="${fwcharacter.motivation != ''} ?   ${fwcharacter.motivation} : 'N/A'"></div>

    </div>
  </section>

  <section class="experience section-padding">

      <div class="container">

        <h3 class="experience-title">Age</h3>
        <div class="text_bg" th:text="${fwcharacter.age != 0} ?   ${fwcharacter.age} : 'N/A'"></div>

        <h3 class="experience-title">Physical Description</h3>
        <div class="text_bg" th:text="${fwcharacter.physicaldescription != ''} ?   ${fwcharacter.physicaldescription} : 'N/A'"></div>

        <h3 class="experience-title">Quirks</h3>
        <div class="text_bg" th:text="${fwcharacter.quirks != ''} ?   ${fwcharacter.quirks} : 'N/A'"></div>

        <h3 class="experience-title">Quotes</h3>
        <div class="text_bg" th:text="${fwcharacter.quotes != ''} ?   ${fwcharacter.quotes} : 'N/A'"></div>

        <h3 class="experience-title">History</h3>
        <div class="text_bg" th:text="${fwcharacter.history != ''} ?   ${fwcharacter.history} : 'N/A'"></div>

      </div>



    <div class="clearfix">

      <div class="center">
        <a class="button-78" th:href = "@{'/updateCharacter/' + ${fwcharacter.characterID}}">Edit character</a>
      </div>

      <div class="center">
        <a class="button-78" th:href = "@{'/deleteCharacterProfile/' + ${fwcharacter.characterID}}">Delete character</a>
      </div>

      <div class="center">
        <a class="button-78" th:href = "@{/charactersPage}">Back to characters page</a>
      </div>
    </div>
  </section>
</div>
</body>
</html>