<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title  th:text="${fwcharacter.name}"></title>
  <link rel="stylesheet" type="text/css" href="/css/img1style.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/center.css">
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="resume-wrapper">
  <section class="profile section-padding">
    <div class="container">
      <div class="picture-resume-wrapper">
        <div class="picture-resume">

          <img th:src="${fwcharacter.image != ''} ?   ${fwcharacter.image} : @{../img/placeholder-profile-pic.png}">

        </div>
      </div>
      <div class="name-wrapper">
        <h1 th:text="${fwcharacter.name}"></h1>
      </div>

      <div class="contact-presentation">
        <p><span class="bold">Lorem</span> ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod congue nisi, nec consequat quam. In consectetur faucibus turpis eget laoreet. Sed nec imperdiet purus. </p>
      </div>

    </div>
  </section>

  <section class="experience section-padding">
    <div class="container">
      <h3 class="experience-title">Experience</h3>

      <div >
        <div class="text_bg">
          <div>Company name</div>
          <div>Nov 2012 - Present</div>
        </div>

        <div>
          <div class="experience-title">Front End Developer </div>
          <div class="company-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
          </div>
        </div>
      </div>

      <div >
        <h3 class="section-title">Hobbies</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in, dignissim magna.</p>
      </div>

    </div>
  </section>

  <div class="clearfix">
    <div class="center">
      <a class="button-78" th:href = "@{/charactersPage}">Back to Characters Page</a>
    </div>
  </div>
</div>
</body>
</html>