<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Character</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <style>
        body {
            background: url(../static/img/img-1.jpg)
                        no-repeat center center fixed;
            background-size: cover;
        }
</style>
</head>
<body>
<div class="container">

    <h1>New Character</h1>
    <hr>

    <form action="#" th:action="@{/saveCharacter}" th:object="${fwcharacter}"
          method="POST">

        <h2>Character Name</h2>
        <input type="text" th:field="*{name}"
               placeholder="Character Name" class="form-control mb-4 col-4">

        <br/>
        <br/>

        <h2>Character Age</h2>
        <input type="text" th:field="*{age}"
                class="form-control mb-4 col-4">

        <br/>
        <br/>

        <h2>Physical Description</h2>
        <textarea th:field="*{physicaldescription}" placeholder="Physical Description" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>Quirks</h2>
        <textarea th:field="*{quirks}" placeholder="Quirks" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>Motivation</h2>
        <textarea th:field="*{motivation}" placeholder="Motivation" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>Quotes</h2>
        <textarea th:field="*{quotes}" placeholder="Quotes" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>History</h2>
        <textarea th:field="*{history}" placeholder="History" rows="8" cols="50">
        </textarea>


        <br/>
        <br/>


        <h2>Image</h2>
        <label for="img">Select image:</label>
        <input type="file" id="img" name="img" accept="image/*">
        <input type="submit">

       <br/>

        <button type="submit" class="btn btn-info col-2"> Save Characters</button>
    </form>

    <hr>

    <button th:href = "@{/charactersPage}"> Characters page</button>
</div>
</body>
</html>