<!doctype html>
<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Merriweather:400italic,400' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>Feather Writer</title>
</head>
<body>
<a class="cd-nav-trigger cd-text-replace" href="#primary-nav">Menu<span aria-hidden="true" class="cd-icon"></span></a>

<div class="cd-projects-container" style="text-align: center">
	<ul class="cd-projects-previews">
		<li>
			<a href="#0">
				<div class="cd-project-title">
					<h2 >Projects</h2>
					<p>Feather Writer Projects</p>
				</div>
			</a>
		</li>

		<li>
			<a href="#0">
				<div class="cd-project-title">
					<h2>Characters</h2>
					<p>The stars of your work</p>
				</div>
			</a>
		</li>

		<li>
			<a href="#0">
				<div class="cd-project-title">
					<h2>Locations</h2>
					<p>The three things that matter in property</p>
				</div>
			</a>
		</li>

		<li>
			<a href="#0">
				<div class="cd-project-title">
					<h2>About</h2>
					<p>Get to know Feather Writer</p>
				</div>
			</a>
		</li>
	</ul> <!-- .cd-projects-previews -->

	<ul class="cd-projects">
		<li>
			<div class="preview-image">
				<div class="cd-project-title">
					<h2>Projects</h2>
					<p>Feather Writer Projects</p>
				</div>
			</div>

			<div class="cd-project-info">
				<p>
					1
				</p>
			</div> <!-- .cd-project-info -->
		</li>

		<li>
			<div class="preview-image">
				<div class="cd-project-title">
					<h2>Characters</h2>
					<p>The stars of your work</p>
				</div>
			</div>

			<div class="container">

				<p style="background-color: #ffffff;">
					<br>
					<br>
					<a th:href = "@{/newCharacter}" class="button-78"> Add Character </a>
					<br>
					<br>
				</p>
				<p style="background-color: #ffffff;">
					<br>
					<br>
					<a th:href = "@{/charactersPage}" class="button-78"> Characters </a>
					<br>
					<br>
				</p>
			</div>

		</li>

		<li>
			<div class="preview-image">
				<div class="cd-project-title">
					<h2>Locations</h2>
					<p>The three things that matter in property</p>
				</div>
			</div>

			<div class="cd-project-info">
				<p>
					3
				</p>
			</div> <!-- .cd-project-info -->
		</li>

		<li>
			<div class="preview-image">
				<div class="cd-project-title">
					<h2>About</h2>
					<p>Get to know Feather Writer</p>
				</div>
			</div>

			<div class="cd-project-info" >
				<p>Feather writer is a project by Mihai Alexandru Teodor</p>
				<p>2022</p>
				<br>
				<br>
			</div> <!-- .cd-project-info -->
			<div>
			<p style="background-color: #ffffff;">
				<button class="button-78" role="button"
						th:data-url="@{https://github.com/mihaialexandruteodor/WebAppTextEditor}"
						onclick="window.open(this.getAttribute('data-url'))">Github</button>
				<br>
				<br>
				<br>
				<br>
			</p>
			</div>
		</li>
	</ul> <!-- .cd-projects -->

	<button class="scroll cd-text-replace">Scroll</button>
</div> <!-- .cd-project-container -->

<nav class="cd-primary-nav" id="primary-nav">
	<ul>
		<li class="cd-label">Navigation</li>
		<li><a th:href="@{/liveEditor}">Live editor</a></li>
		<li><a th:href="@{/newNovel}">New Novel</a></li>
		<li><a th:href="@{/novelsAndStatistics}">Statistics</a></li>
	</ul>
</nav> <!-- .cd-primary-nav -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>