<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Project</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/img1style.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/center.css">
    <script src="../js/imgToBlob.js"></script>
</head>
<body>
<div class="center">

    <h1>New Project</h1>
    <hr>

    <form  th:action="@{/saveProject}" th:object="${novel}"  method="POST">

        <input type="hidden" th:field="*{novelID}" />
        <input type="hidden" th:field="*{locations}" />
        <input type="hidden" th:field="*{chapters}" />
        <input type="hidden" th:field="*{characters}" />
        <input type="hidden" th:field="*{notes}" />

        <h2>Title</h2>
        <input class="center" type="text" th:field="*{title}" placeholder="Title">
        <br/>
        <br/>

        <h2>Author name</h2>
        <input class="center" type="text" th:field="*{authorname}"  placeholder="Author name">

        <br/>
        <br/>

        <h2>Synopsis</h2>
        <textarea th:field="*{synopsis}" placeholder="Synopsis" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>

        <h2>Author contact info</h2>
        <textarea th:field="*{authorcontactinfo}" placeholder="Author contact info" rows="8" cols="50">
        </textarea>

        <br/>
        <br/>



        <button type="submit" class="button-78"> Save Project and go to next step</button>
    </form>

    <hr>

    <a class="button-78" th:href = "@{/projectsPage}">Projects page</a>
</div>
</body>
</html>