<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Projects</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/img1style.css">
  <link rel="stylesheet" type="text/css" href="/css/cards.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/center.css">
  <script src="js/modernizr.js"></script>
</head>
<body>

<h2 class="center">Projects</h2>

<div class="cards">

  <tr th:each="project : ${projectList}">
    <div class="card text-white border-light bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title" th:text="${project.name}"></h5>
        <p class="card-text" th:text="${fwcharacter.motivation}"></p>
        <a th:href="@{'/characterProfile/' + ${fwcharacter.characterID}}" class="button-78">Details</a>
      </div>
    </div>
  </tr>
  </tbody>
</div>

<div class="container">
  <div class="center">
    <a class="button-78" th:href = "@{/newCharacter}">New Character</a>
  </div>
  <div class="center">
    <a class="button-78" th:href = "@{/}">Back to Main Page</a>
  </div>
<div th:if = "${totalPages > 1}">

  <div class="center">
    <a class="button-78" th:if="${currentPage != 1}" th:href="@{/charactersPage}">First</a>
  </div>
  <div class="center">
      <a class="button-78" th:if="${currentPage < totalPages}" th:href="@{'/charactersPage/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
      <span class="button-78" th:unless="${currentPage < totalPages}">Next</span>
  </div>

  <div class="center">
        <a class="button-78" th:if="${currentPage < totalPages}" th:href="@{'/charactersPage/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
        <span class="button-78"  th:unless="${currentPage < totalPages}">Last</span>
  </div>

  <span class="center" th:each="i: ${#numbers.sequence(2, totalPages)}">
          <a class="button-78" th:if="${currentPage != i}" th:href="@{'/charactersPage/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
          <span class="button-78" th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
  </span>

</div>
</div>

</body>
</html>
