<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${novel.title} + ' chapters'"></title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/css/timelinestyle.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/center.css">
  <link rel="stylesheet" href="/css/chcards.css">
  <script src="/js/goToTop.js"></script>
</head>
<body>
<div class="container">
  <div class="center">
    <a class="button-78" th:href = "@{'/newChapter/' + ${novel.novelID}}">New Chapter</a>
  </div>
  <div class="center">
    <a class="button-78" th:href = "@{/}">Back to Main Page</a>
  </div>
</div>
<br/>
<br/>
<div class="cards">

  <tr th:each="chapter, iterator : ${assignedChapterList}">
    <div class="card text-white border-light bg-dark">
      <div class="card-body">
        <h5 class="card-title" th:text="${chapter.title}"></h5>
        <a th:if="${iterator.first != true}" th:href="@{'/moveChapterUpInTimeline/' + ${novel.novelID} + '/' + ${chapter.chapterID}}" class="button-78">^</a>
        <a th:href="@{'/showSceneTimeline/' + ${chapter.chapterID}}" class="button-78">Scenes</a>
        <a th:href="@{'/deleteChapter/' + ${chapter.chapterID}}" class="button-78">Delete Chapter</a>
        <a th:if="${iterator.first != true}" th:href="@{'/moveChapterDownInTimeline/' + ${novel.novelID} + '/' + ${chapter.chapterID}}" class="button-78">v</a>
      </div>
    </div>
  </tr>
  </tbody>
</div>


<button th:onclick="topFunction();" class="button-78" id="topBtn" style="position: fixed;bottom: 20px;right: 30px;z-index: 99;" title="Go to top">Scroll to Top</button>

</body>
</html>