<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Project details</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/css/img1style.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/center.css">
    <link rel="stylesheet" href="/css/profile.css">
    <script src="../js/imgToBlob.js"></script>
</head>
<body>
<div class="center">

    <h1>Project details</h1>
    <hr>

    <form   th:object="${novel}"  >

        <h2>Title</h2>
        <label class="text_bg" th:text="*{title}"></label>

        <br/>
        <br/>
        <h2>Author's name</h2>
        <label class="text_bg" th:text="*{authorname}"></label>

        <br/>
        <br/>

        <h2>Synopsis</h2>
        <label class="text_bg" th:text="*{synopsis}" ></label>

        <br/>
        <br/>

        <h2>Author contact info</h2>
        <label class="text_bg" th:text="*{authorcontactinfo}"></label>

        <br/>
        <br/>


        <h2>Characters</h2>
        <table border="none"  class = "table table-striped table-responsive-md">
            <tbody>
            <tr th:each="character : ${assignedCharacterList}">
                <td>
                <a class="text_bg" th:text="${character.name}" th:href="@{'/characterProfile/' + ${character.characterID}}"></a>
                </td>
            </tr>
            </tbody>
        </table>

        <br/>
        <br/>
        
        <h2>Chapters</h2>
        <table border="none"  class = "table table-striped table-responsive-md">
            <tbody>
            <tr th:each="chapter : ${assignedChapterList}">
                <td>
                <a class="text_bg" th:text="${chapter.title}" th:href="@{'/chapterPage/' + ${chapter.chapterID}}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        
        <br/>
        <br/>
        
        <h2>Locations</h2>
        <table border="none"  class = "table table-striped table-responsive-md">
            <tbody>
            <tr th:each="location : ${assignedLocationList}">
                <td>
                <a class="text_bg" th:text="${location.name}" th:href="@{'/locationProfile/' + ${location.locationID}}"></a>
                </td>
            </tr>
            </tbody>
        </table>
        
        <br/>
        <br/>
        
        <h2>Notes</h2>
        <table border="none"  class = "table table-striped table-responsive-md">
            <tbody>
            <tr th:each="note : ${assignedNoteList}">
                <td>
                <a class="text_bg" th:text="${note.title}" th:href="@{'/notePage/' + ${note.noteID}}"></a>
                </td>
            </tr>
            </tbody>
        </table>



    </form>

    <a class="button-78" th:href = "@{/projectsPage}">Projects page</a>

    <br/>
    <br/>


</div>

</body>
</html>