<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>New Scene</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="/css/img1style.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" href="/css/center.css">
  <script src="../js/imgToBlob.js"></script>
</head>
<body>
<div class="center">

  <h1>New Scene</h1>
  <h1  th:text="'Belongs to chapter ' +${chapter.title}"></h1>
  <hr>

  <form  th:action="@{/saveScene}" th:object="${scene}"  method="POST">

    <h2>Corkboard Text</h2>
    <textarea th:field="*{descriptiontext}" placeholder="This text will appear in the previews" rows="8" cols="50">
        </textarea>

    <br/>
    <br/>

    <button type="submit" class="button-78"> Save Scene</button>
  </form>

  <hr>

  <button class="button-78" th:href = "@{'/showSceneTimeline/' + ${chapter.chapterID}}">Chapters timeline</button>
</div>
</body>
</html>