<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title th:text="${chapter.title} + ' scene #' +  ${scene.sceneID}"></title>
  <link href="//bootswatch.com/3/darkly/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="css/img4style.css">
  <link rel="stylesheet" href="/css/center.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <link rel="stylesheet" href="/css/button.css">
</head>
<body>
<div class="block">
  <div id="summernote"><p></p></div></div>
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#summernote').summernote({
            placeholder: 'Hello stand alone ui',
            tabsize: 2,
            width: 1500,
            height: 800,
            toolbar: [
              ['style', ['style']],
              ['font', ['bold', 'underline', 'clear']],
              ['color', ['color']],
              ['para', ['ul', 'ol', 'paragraph']],
              ['table', ['table']],
              ['insert', ['link', 'picture', 'video']],
              ['view', ['fullscreen', 'codeview', 'help']]
            ]
          });
          $('#summernote').summernote('code', [[${scene.text}]]);
        });

      function saveSceneText()
          {
              var html = $("#summernote").summernote("code");
               $.ajax(
               {
                  type: "POST",
                  url: "/saveSceneText",
                  data:
                  {   fileContent:html,
                        sceneID:[[${scene.sceneID}]]
                  },
                  success: function(data)
                  {
                    window.location.href = "/showSceneTimeline/" + [[${chapter.chapterID}]]
                  }
               });
          };

         function saveSceneLocally()
      {
          var html = $("#summernote").summernote("code");

               var req = new XMLHttpRequest();
               req.open("GET", "/downloadTextFileScene?fileContent="+encodeURIComponent(html), true);
               req.responseType = "blob";
               req.onload = function (event) {
                   var blob = req.response;
                  // var fileName = req.getResponseHeader("fileName"); //if you have the fileName header available
                   var fileName = [[${chapter.title}]]+"_scene_"+[[${scene.sceneID}]]+".docx";
                   var link=document.createElement('a');
                   link.href=window.URL.createObjectURL(blob);
                   link.download=fileName;
                   link.click();
               };

               req.send();
               alert("Please wait until the Word file is ready!");
          };


    </script>

  <div class="block">
    <br/>
    <br/>
    <button class="button-78" type="submit" th:onclick="'saveSceneText();'" >Save</button>
    <br/>
    <br/>
    <button th:onclick="'saveSceneLocally();'"  id="button_1"  name="but1" class="button-78">Export text as .docx</button>
  </div>
</body>

</html>